<div class="footer">
    <div class="container">
        <div class="box-left">
            <div class="footer-logo">
                <img class="medium-logo" src="../../assets/Comedy-Store_REV.png" alt="comedy store REV" >
            </div>
        </div>

        <div class="box-center" id="contact">
            <h2>CONTACT US<h2>
            <div class="inline">
            <img src="../../assets/phone.svg.png" alt="phone icon" width="20">
            <p>02-72084484<p>
            </div>
            <div class="inline">
            <img src="../../assets/Emailnew.png" alt="email icon" width="20">
            <p>comedystore@century.com.au<p>
            </div>
            <div class="inline">
            <img src="../../assets/address.jpg" alt="address icon" width="20">
            <p>122 Lang Rd, Moore Park, NSW 2021, Australia<p>
            </div>
        </div>

        <div class="box-center" id="comedy_store">
            <h2>COMEDY STORE</h2>
            <p>Home<p>
            <p>Subscribe Newsletter</p>
            <p>About</p>
            <p>Visit</p>
            <p>Gift Certificates</p>
            <p>Dine & Discover Vouchers</p>
            <p>We're COVIDsafe</p>
        </div>

        <div class="box-right" id="connection">
            <h2>CONNECT WITH US</h2>
            <img src="../../assets/facebook.png" alt="facebook icon" width="40">
            <img src="../../assets/instagram.svg" alt="instagram icon" width="40">
        </div>

    </div>
</div>