// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* -------------------------- Brand Colours --------------------*/
$teal: #CEE7E6;
$mustard: #D7BE39;
$grey: #C4C4C4;
$ltGrey: #E3E3E3;
$invalid: #FF8F8F;
$valid: #CFFF9F;


body {
    margin: 0;
    background-color: $teal;
}

.image {
    background-color: blue;
    background-image: image-url("home.png");
    width: 100vw;
    height: 90vh;
    background-size: cover;
}


.about {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    background-color: $teal;
}

.logo img {
    height: 100%;
}

.logo {
    height: 100%;
    width: 100%;
}

.about-text {
    padding: 30px;
}


/* -------------------- subscribe --------------------------*/

.subscribe-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 60px;
    box-sizing: border-box;
    font-size: 150%;
    font-family: sans-serif;
}


.subscribe {
    display: flex;
}


#elephant {
    height: 200px;
}



.email_output {
    display: block;
}

.form input {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: $teal;
    font-size: 70%;
    box-sizing: border-box;
}

#submit {
    background-color: $mustard;
}

.form {

    display: flex;
    justify-content: center;
}

@mixin messages {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    color: black;
    font-size: large;
}

.error {
    @include messages;
    background-color: $invalid;

}

.flash {
    @include messages;
    background-color: $valid;
}


/* -------------------- footer --------------------------*/
.footer {
    display: flex;
    background-color: #f8f8ff;
    justify-content: center;
    align-items: center;

}
.container {
   padding: 1%;
   box-sizing: border-box;
   width: 100vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

}



/* --need to look into grid and repeat(auto-fit)-*/

.box a {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    color: black;
}

p {
    font-size: 15px;
}

.footer-logo {
    margin-top: 40px;
    margin-left: 90px;
}

.medium-logo {
    max-width: 120px;
}

.inline img, p {
    display: inline-block;
}

#email-address {
    text-decoration: underline;
}

#connection a {
    display: inline-block;
    margin: 5px;
}



/* -------------------- Dashboard --------------------------*/


.index-container {
    width: 70vw;
    margin: 0 auto;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.list-user {
    border: 3px solid rgb(0, 0, 0);
    margin-bottom: 10vh;
}

@mixin grid { /* made this a mixin cause heading & data need to be consistent */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.user-index {
    @include grid;
    background-color: $ltGrey;
    padding: 0 20px;
}

.heading {
    @include grid;
    font-weight: bold;
    background-color: $grey;
    padding: 0 20px;
}

@mixin box {
    padding-top: 50px;
    text-align: center;
    width: 220px;
    background-color: $grey;
    box-sizing: border-box;
    margin: 20px;
    height: 220px;
}

.count {
    @include box;
}

.dash {
    background-color: $ltGrey;
    display: flex;
    justify-content: left;

}

.new-email { /* keeping this seperate from count - need to check if this needs to be diff height */
    @include box;

}

@media only screen and (max-width: 600px ) {
    .form input {
        display: block;
        width: 380px;
        box-sizing: border-box;
        margin: 15px 0;
    }

    .error {
        width: 380px;
    }
    
}


@media only screen and (min-width: 600px ) {
    .email_output {
        display: block;
        width: 98%;
    }

    .error, .flash {
        width: 98%;
    }

 
    
}


@media (max-width: 500px) {
    .image {
        // background-color: blue;
        background-image: url(assets/mobile1.jpg);
        background-size: cover;
    }

    .about {
        height: 35vh;
        // width: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $teal;
        text-align: center;
    }

    .about img {
        height: 200px;
        padding-left: 18%;
    }

    .about-text {
        padding: 1vh;

    }
    .about h1 {
        font-size: 20px;
        text-align: center;
    }
}
