// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin: 0;
}

.image {
    // background-color: blue;
    background-image: url(/assets/home.png);
    width: 100vw;
    height: 90vh;
    background-size: cover;
}


.about {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    background-color: #CEE7E6;
}

.logo img {
    height: 100%;
}

.logo {
    height: 100%;
    width: 100%;
}

.about-text {
    padding: 30vh;
}

.list-user {
    width: 70vw;
    margin: 0 auto;
    border: 3px solid rgb(0, 0, 0);
}

.heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: bold;
}

.user-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}